{% extends "base.html" %}

{% block title %}Upload Files{% endblock %}
{% load crispy_forms_tags %}

{%block content %}
<div class="text-center" id="upload_form">
  {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
  {% endif %}

  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="module aligned">
      {% csrf_token %}
      <h3>Upload Files</h3>
        {{ form|crispy }}
      <button type="submit" value="Upload" class="btn btn-success">Upload</button>
    </fieldset>
  </form>

{% if uploaded_file_url %}
  <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
{% endif %}
<p><a href="{% url 'home' %}">Return to home</a></p>
</div>
{% endblock %}
